@media screen and (max-width: 374px) {
  /* ====================HERO========================== */
  .futures-list {
    flex-direction: column;
    gap: 24px;
  }
  /* ====================SOFT-SKILLS========================== */
  .skills-title {
    font-size: 24px;
  }
  .soft-skills-item {
    width: auto;
  }
  .soft-skill-name {
    font-size: 18px;
  }
  .hard-skill-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  /* ====================HERO========================== */

  .hero-title-wrapper {
    margin-left: 5%;
  }
  .hero-profession {
    text-align: center;
  }
  .hero-ocupation {
    text-align: center;
  }

  .futures-list {
    display: flex;
    gap: 18px;
  }
  .futures-item {
    width: 100px;
  }

  .hero-wishes {
    text-align: center;
  }
  /* ====================SOFT-SKILLS========================== */
  .soft-skills-item {
    margin: 0 auto;
  }
  /* ====================HARD-SKILLS========================== */
  .hard-skills-item:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  /* ====================HERO========================== */
  .hero-section {
    padding-top: 0px;

    background-image: none;
    background-color: var(--background-color-1);
  }
  .hero-container {
    padding-top: 452px;
    background-image: url(../images/hero/bg-tablet@1x.jpg);
    background-size: 768px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../images/hero/bg-tablet@2x.jpg);
    }
  }

  .hero-info-wrapper {
    max-width: 550px;
    margin-left: 55px;
  }
  .hero-profession {
    max-width: 467px;
  }
  .hero-title {
    font-size: 48px;
    max-width: 362px;
  }
  .hero-futures-wrapper {
    align-items: center;
    flex-direction: row;
  }

  /* ====================SOFT-SKILLS========================== */
  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }
  .soft-skills-list {
    justify-content: center;
  }

  .skills-title {
    font-size: 36px;
  }
  /* ====================HARD-SKILLS========================== */
  .hard-skills-list {
    column-gap: 24px;
    row-gap: 50px;
  }
  .hard-skills-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  /* ====================HERO========================== */

  .hero-section {
    padding-top: 32px;
    padding-bottom: 32px;

    background-image: none;
    background-color: var(--background-color-1);
  }

  .hero-container {
    background-image: url(../images/hero/bg-desktop@1x.jpg);
    background-position: right;
    background-size: 534px;
    min-height: 540px;
    display: flex;
    align-items: center;
    padding-top: 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../images/hero/bg-desktop@2x.jpg);
    }
  }

  .hero-info-wrapper {
    margin-left: 0px;
  }
  .hero-title-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    align-items: flex-end;
  }
  /* ====================HARD-SKILLS========================== */

  .hard-skills-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
