@media screen and (max-width: 374px) {
  /* ====================HERO========================== */

  /* ====================SOFT-SKILLS========================== */
  .skills-title {
    font-size: 30px;
  }
  .soft-skill-name {
    font-size: 16px;
  }
  .hard-skill-name {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .futures-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  /* ====================HERO========================== */

  /* ====================SOFT-SKILLS========================== */
  .soft-skills-item {
    margin: 0 auto;
  }
  /* ====================HARD-SKILLS========================== */
  .hard-skills-item:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  /* ====================HERO========================== */
  .hero-section {
    padding-top: 64px;
    background-image: url(../images/hero/hero-bg-tablet@1x.jpg),
      linear-gradient(var(--background-color-1), var(--background-color-1));
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 768px, auto;
  }
  .hero-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../images/hero/hero-bg-tablet@2x.jpg),
        linear-gradient(var(--background-color-1), var(--background-color-1));
    }
  }
  .hero-title {
    font-size: 45px;
    color: var(--background-color-1);
    margin-bottom: 40px;
  }

  .hero-question {
    margin-bottom: 170px;
    color: var(--background-color-1);
    letter-spacing: 0.05em;
  }

  .hero-profession {
    max-width: 408px;
    color: var(--background-color-1);
    margin-bottom: 100px;
  }

  .futures-item {
    max-width: 165px;
  }
  .futures-number {
    font-size: 56px;
  }

  .futures-descr {
    font-size: 16px;
  }
  .hero-wishes {
    font-size: 18px;
  }

  /* ====================SOFT-SKILLS========================== */
  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }
  .soft-skills-list {
    justify-content: center;
  }
  .soft-skills-item {
    flex-basis: 345px;
  }

  .skills-title {
    font-size: 40px;
    text-align: center;
  }
  /* ====================HARD-SKILLS========================== */
  .hard-skills-list {
    column-gap: 24px;
    row-gap: 50px;
  }
  .hard-skills-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-ocupation {
    text-align: center;
  }
  .hero-wishes {
    text-align: center;
  }
  .futures-list {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  /* ====================HERO========================== */

  .hero-section {
    padding-top: 120px;
    padding-bottom: 50px;
    background-image: url(../images/hero/hero-bg-desktop@1x.jpg),
      linear-gradient(var(--background-color-1), var(--background-color-1));

    background-size: 1200px, auto;
  }

  .hero-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../images/hero/hero-bg-desktop@2x.jpg),
        linear-gradient(var(--background-color-1), var(--background-color-1));
    }
  }

  .hero-title {
    font-size: 60px;
  }

  .hero-question {
    margin-bottom: 100px;
  }

  .hero-profession {
    font-size: 38px;
    max-width: 468px;
    margin-bottom: 46px;
  }
  .hero-ocupation {
    color: var(--background-color-1);
    margin-bottom: 20px;
    max-width: 370px;
  }
  .futures-list {
    margin-bottom: 20px;
    max-width: 588px;
  }
  .futures-number {
    color: var(--background-color-1);
  }

  .futures-descr {
    color: var(--background-color-1);
  }
  .hero-wishes {
    font-size: 16px;
    color: var(--background-color-1);
  }

  /* ====================SOFT-SKILLS========================== */

  .skills-title {
    font-size: 45px;
    margin-bottom: 40px;
  }

  /* ====================HARD-SKILLS========================== */

  .hard-skills-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .equipment-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .electro-list,
  .color-correction-list {
    max-width: 774px;
    margin-left: auto;
    margin-right: auto;
  }
  .electro-item,
  .color-corection-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
