:root {
  /* colors */
  --accent-color-061835: #061835;
  --primary-color-blue-font-0a224a: #000000;
  --background-color-1: #e0e4e8;
  --background-color-2: #f2f2f2;
  --my-color-1: #5959a9;

  /* transition params */
  --my-transition-duration: 250ms;
  --my-transition-timing-function: ease-in-out;
  --my-transition-delay: 250ms;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color-blue-font-0a224a);
}

/* ====================COMMON STYLES========================== */

.container {
  margin: 0 auto;
  max-width: 375px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.question {
  color: var(--my-color-1, #5959a9);
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.208;
}

/* ====================HERO========================== */

.hero-section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--background-color-1);
}

.hero-container {
  display: flex;
  gap: 20px;
}

.hero-container img {
  min-width: 144px;
}
.hero-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.23;
  text-transform: uppercase;
}

.hero-list {
}
.hero-item:not(:last-child) {
  margin-bottom: 30px;
}
.hero-text {
  line-height: 1.25;
}

/* ====================SOFT-SKILLS========================== */
.soft-skills-section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--background-color-2);
}
.skills-container {
}

.skills-question {
  text-align: center;
  margin-bottom: 64px;
}
.skills-box {
}
.skills-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.skills-item {
}

.soft-skills-item {
  display: flex;
  align-items: center;
  min-height: 140px;
  padding: 20px 10px;
  width: 345px;
}
.skills-item svg {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--my-color-1);
}
.skill-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
/* ====================HARD-SKILLS========================== */
.hard-skills-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--background-color-1);
}
.hard-skills-box:not(:last-child) {
  margin-bottom: 96px;
}
.hard-skills-item {
}
.hard-skill-name {
  text-align: center;
  margin-bottom: 20px;
}
.skill-image {
  position: relative;
  overflow: hidden;
}
.proportion-type147 {
  padding-bottom: 147%;
}

.skill-image img {
  position: absolute;
  object-fit: cover;
  /* width: 100%; */
  height: 100%;
}
